@import url("../node_modules/antd/dist/antd.css");
@font-face {
  font-family: "xiao nai nao";
  src: url(/src/assets/fonts/小可奶酪体.ttf);
}

@font-face {
  font-family: "xi xian ti";
  src: url(/src/assets/fonts/庞门正道细线体.ttf);
}

@font-face {
  font-family: "mai yuan ti";
  src: url(/src/assets/fonts/荆南麦圆体.ttf);
}

@font-face {
  font-family: "lx regular";
  src: url(/src/assets/fonts/LxgwMarkerGothic-Regular.ttf);
}
:root {
  font-family: "xiao nai nao", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
}
