@import url("../node_modules/antd/dist/antd.css");
@font-face {
  font-family: "xiao nai nao";
  src: url(/src/assets/fonts/小可奶酪体.ttf);
}

@font-face {
  font-family: "xi xian ti";
  src: url(/src/assets/fonts/庞门正道细线体.ttf);
}

@font-face {
  font-family: "mai yuan ti";
  src: url(/src/assets/fonts/荆南麦圆体.ttf);
}

@font-face {
  font-family: "lx regular";
  src: url(/src/assets/fonts/LxgwMarkerGothic-Regular.ttf);
}

:root {

  font-family: "xiao nai nao", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--text-color);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root{
  --text-color: rgba(255, 255, 255, 0.87);
  --low-blue: #002140;
  --main-bg-color:#fff;

  /* ionic 阶梯色 */
	--ion-background-color: #ffa70f;
	--ion-background-color-rgb: 255,167,15;

	--ion-text-color: #000000;
	--ion-text-color-rgb: 0,0,0;

	--ion-color-step-50: #f29f0e;
	--ion-color-step-100: #e6960e;
	--ion-color-step-150: #d98e0d;
	--ion-color-step-200: #cc860c;
	--ion-color-step-250: #bf7d0b;
	--ion-color-step-300: #b3750b;
	--ion-color-step-350: #a66d0a;
	--ion-color-step-400: #996409;
	--ion-color-step-450: #8c5c08;
	--ion-color-step-500: #805408;
	--ion-color-step-550: #734b07;
	--ion-color-step-600: #664306;
	--ion-color-step-650: #593a05;
	--ion-color-step-700: #4d3205;
	--ion-color-step-750: #402a04;
	--ion-color-step-800: #332103;
	--ion-color-step-850: #261902;
	--ion-color-step-900: #191101;
	--ion-color-step-950: #0d0801;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
}
ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width:600px)  {
    html,body{
      overflow: hidden;
    }
}
